[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = {extras = ["email"], version = "*"}
python-multipart = "*"
python-jose = "*"
passlib = "*"
bcrypt = "*"
aiofiles = "*"
elasticsearch = "*"
loguru = "*"
sqlalchemy = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.10"
